@font-face {
  font-family: HeartExplosion;
  src: url(../../HeartExplosion.otf);
}

html {
  font-size: 16px;
}

body {
  min-width: 400px; /* To emulate Chrome min-width */
  background-color: rgb(255, 242, 242);
  font-family: "Work Sans", sans-serif;
  color: rgb(32, 64, 86);
  position: relative;
  /*background: url(../../hearts-falling.gif) no-repeat center;*/
}

h1 {
  font-size: 2.1875rem;
  font-weight: bold;
}

h2 {
  font-size: .875rem;
  font-weight: bold;
}

p {
  font-size: .875rem;
  color: rgb(74, 74, 74);
}

.container {
  padding-top: 5.25rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
  border: 4px solid white;
  border-radius: 8px;
  background-color: rgb(32, 64, 86);
  font-size: 7rem;
  font-weight: 900;
  color: black;
  cursor: pointer;
}

/*animations------------------*/
.title {
  transition: opacity 3s ease-in-out;
}

#valentine-overall-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-Index: 1000000;
  background: url(../../heart-loading.gif) no-repeat 50% 50%;
}

#valentine-top-typewriter {
  display: none;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  z-Index: 1000000;
  background-size: cover;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

#valentine-top-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  z-Index: 1000000;
  background-size: cover;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
}
#valentine-top2-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  z-Index: 1000000;
  background-size: cover;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
}

#valentine-top3-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  z-Index: 1000000;
  background-size: cover;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
}

#valentine-top4-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  z-Index: 1000000;
  background-size: cover;
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
  align-items: center;
  font-family: HeartExplosion;
  color: #6A202B;
}

#valentine-bottom-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 50%;
  z-Index: 1000000;
  background: url(../../heart-cute.gif) no-repeat 50% 50%;
}

#valentine-background-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: alpha(opacity=20);
  z-Index: 1000000;
  background-image: url(../../hearts-falling.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#valentine-background-overlay2 {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.8;
  filter: alpha(opacity=20);
  z-Index: 1000000;
  background-image: url(../../heart-air.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

